<tr>
  <td><%= link_to user.name, user %></td>
  <td><%= link_to user.username, user %></td>
  <% if current_user.admin? %>
    <td><%= link_to "EDIT", edit_user_path(user), class: "btn btn-mini" %></td>
    <td><%= link_to "DELETE", user, method: :delete, data: { confirm: "Confirm deletion"}, class: "btn btn-mini btn-danger" %></td>
  <% else %>
    <td></td>
    <td></td>
  <% end %>
</tr>