<li>
<div class="row">
  <div class="span4">
    <%= link_to user.name, user %> [<%= user.username %>]
  </div>
  <% if current_user.admin? %>
  <div class="span2"><%= link_to "EDIT", edit_user_path(user), class: "btn btn-mini" %> </div>
  <div class="span2 offset3">    
    <%= link_to "DELETE", user, method: :delete, data: { confirm: "Confirm deletion"}, class: "btn btn-mini btn-danger" %>
    <% end %>
  </div>
</div>
</li>