<li>
	<%= link_to user.username, user %> <%= user.name %>
	<% if current_user.admin? %> 
	| <%= link_to "edit", edit_user_path(user) %>
	<% end %>
	<% if current_user.admin? && !current_user?(user) %>
	| <%= link_to "delete", user, method: :delete, data: { confirm: "Confirm deletion"}%>
	<% end %>
</li>