<% provide(:title, @department.name)%>
<h1><%= @department.name%></h1>
<% if current_user.admin? %>
	<div class="row">
		<div class="span6 offset1">
			<%= render 'form' %>
		</div>
	</div>
<% else%>
<h2 class="center">Assigned companies</h2>
	<table class="table">
	<thead>
		<th>Companies</th>
	</thead>
	<tbody>
		<% @department.companies.each do |company| %>
			<tr>
				<td><%= company.name %></td> 
			</tr>
		<% end %>
		</tbody>
	</table>
	<% end %>