<% provide(:title, @department.name)%>
<h1><%= @department.name%></h1>
<div class="show">
<% if current_user.admin? %>
	<div class="row">
		<div class="span6 offset1">
			<%= render 'form' %>
		</div>
	</div>
<% else%>
	<div class="row">
		<ul>
			<% @department.companies.each do |company| %>
				<li><%= company.name %></li>
			<% end %>
		</ul>
	</div>
<% end %>
</div>