<% provide(:title, @company.name)%>
<h1><%= @company.name%></h1>
<% if current_user.admin? %>
	<div class="row">
		<div class="span6 offset1">
			<%= render 'form' %>
		</div>
<% else%>
	<h2 class="center">Available retention departments</h2>
	<table class="table">
	<thead>
		<th>Department</th>
		<th>Retention Period</th>
	</thead>
	<tbody>
		<% @company.departments.each do |department| %>
			<tr>
				<td><%= department.name %></td> 
				<td><%= department.retain %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<% end %>