@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: .5%;
  margin-bottom: 1%;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* index lists */

.index {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 2px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
  .delete { 
  font-weight: bold;
  color: red;
  }
}

/* barcode */

@font-face
{
font-family: Code39AzaleaFont;
src: url('Code39Azalea.eot') format('embedded-opentype'), /* IE9 Compat Modes */
   url('Code39Azalea.woff') format('woff'), /* Modern Browsers */
   url('Code39Azalea.ttf') format('truetype'), /* Safari, Android, iOS */
   url('Code39Azalea.svg#Code39Azalea') format('svg'); /* Legacy iOS */
font-weight: normal;
font-style: normal;
}

/* box show page */

.box-company {
  font-size: 3em;
  letter-spacing: -2px;
	margin-bottom: 15px; 
	font-weight:bold; 
}

.box-department {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  font-weight: normal;
  color: $grayLight;
}

.date {
	font-size: 3em;
  letter-spacing: -2px;
	text-align: right;
}

.destroy-by {
	font-size: 1.5em;
  letter-spacing: -1px;
	font-weight:bold;
	color:red;	
	text-align: right;
	vertical-align: text-top;
}

.box-description {
	font-size: 1.5em;
	letter-spacing: -1px;
}

.box-edit{
	font-size: 1.5em;
	letter-spacing: -1px;
}

.box-delete {
	font-size: 1.5em;
  letter-spacing: -1px;
	font-weight:bold;
	color:red;	
	text-align: right;
  a { color: red; }
}

/* printing */

#print-box {

	width: 816px;
	font-size:400%;
	font-weight:bold;
}

.barcode { 
	font-family:Code39AzaleaFont;
	font-size:250%;
	line-height:100%;
}

.destroy {
	text-align:right;
}

.small-words {
	font-size:20%;
	line-height:10%;
}

#print-list {
	ul { list-style: none;
		li {display: inline;}
		}	
}

.hidden {
	visibility:hidden;
}

/* label positioning */

.labels { 
	margin-top:0in;
	width: 816px;
	line-height:100%;
	font-size:600%;
	font-weight:bold;
}

.label1 {position: fixed;
left:1in;top:.5in;}
.label2 {position: fixed;
left:1in;top:6in;}
