<tr>
  <td><%= link_to location.code, location %></td>
  <% if current_user.admin? %>
    <td><%= link_to "EDIT", edit_location_path(location), class: "btn btn-mini" %></td>
    <td><%= link_to "DELETE", location, method: :delete, data: { confirm: "Confirm deletion"}, class: "btn btn-mini btn-danger" %></td>
  <% else %>
    <td></td>
    <td></td>
  <% end %>
</tr>